<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Morse_Code_Rain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <Morse_Code_Rain.Properties.Settings>
            <setting name="MorseCodeType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxFPS" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="StartupFullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CodeSpawnFreq" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="showFPS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlaySounds" serializeAs="String">
                <value>True</value>
            </setting>
        </Morse_Code_Rain.Properties.Settings>
    </userSettings>
</configuration>
