<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WebFilesEnhanced.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Web_Files_Enhanced.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <WebFilesEnhanced.Properties.Settings>
            <setting name="EditorFont" serializeAs="String">
                <value>Tahoma, 11.25pt</value>
            </setting>
            <setting name="LastFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="SplitterDistance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SplitViewOrient" serializeAs="String">
                <value>Vertical</value>
            </setting>
        </WebFilesEnhanced.Properties.Settings>
        <Web_Files_Enhanced.Properties.Settings>
            <setting name="EditorFont" serializeAs="String">
                <value>Tahoma, 11.25pt</value>
            </setting>
            <setting name="FormState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="IsFirstBoot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="FormBounds" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="SplitterDistance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SplitViewOrient" serializeAs="String">
                <value>Vertical</value>
            </setting>
        </Web_Files_Enhanced.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
