<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Beeper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <Beeper.Properties.Settings>
            <setting name="LastPlayed" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastSource" serializeAs="String">
                <value/>
            </setting>
            <setting name="ParseModeIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpeedMutliplier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Duration" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Pause" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SemiColonPause" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="PeriodPause" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="CommaPause" serializeAs="String">
                <value>300</value>
            </setting>
        </Beeper.Properties.Settings>
    </userSettings>
</configuration>
